body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupDiv {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  width: 500px;
  min-height: 500px;
}

.signupDiv .title {
  color: #101010;
  line-height: 40px;
  font-size: 32px;
  font-weight: 600;
}

.signupDiv .description {
  color: #878787;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.signupDiv form {
  width: 100%;
  margin-top: 50px;
  position: relative;
}

.signupDiv form .inputDiv {
  width: 100%;
  position: relative;
}

.signupDiv .passwordVisibilityBtn {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right:0;
  top: 55%;
}

.signupDiv .signInOptionDiv {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.signupDiv.signInOptionDiv span {
  color: #878787;
  font-size: 14px;
}

.horizontalLine {
  width: 38%;
  height: 1px;
  background-color: #878787;
  margin: 10px 5px;
}
.googleSignInOption {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.googleSignInOption img {
  width: 40px;
  height: 40px;
  font-size: 14px;
  border: 1px solid #d6d6d6;
  border-radius: 50%;
  cursor: pointer;
}
.registerDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registerLink {
  color: #fe8c00;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
}
.highlightText {
  color: #fe8c00;
  font-weight: 500;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-color: #fe8c00;
  outline: none;
}
#checkbox {
  outline: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
